@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Marhey:wght@300..700&family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    font-family: 'marhey';
}

body {
    background-color: rgb(255, 228, 181);
}

h1 {
    color: rgb(187, 89, 32);
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

#btn {
    background-color: rgb(184, 122, 7);
    color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    cursor: pointer;
    font-size: 64px;
    width: 250px;
    height : 90px;
    text-align : center;
    margin-left: 45%;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

}

#btn:active {
    transform: scale(0.9);
    background-color: rgb(219, 134, 5);
}

#textBtn {
    font-size: 45px;
    text-align: center;
    margin: 20px;
    color: rgb(216, 149, 26);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

input {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-size: 35px;
    position: relative;
    left: 25%;
    margin-top: 20px;
    
}

#textInput {
    font-size: 80px;
    text-align: center;
    margin: 20px;
    color: rgb(216, 149, 26);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}